
body{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

header{
    background-color: #333;
    color: #fb0f0f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    order: -1;
}
.logo img{
    width: 180px;
    height: auto;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
    border-radius: 5px;
  }

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}