body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fijar el encabezado en la parte superior */
    width: 98%; /* Ancho completo */
    top: 0; /* Fijar en la parte superior */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

.logo{
    order: -1;
}

.logo img{
    width: 180px;
    height: auto;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

 
li a:hover {
    background-color: #111;
    border-radius: 10px;
  }

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subti{
    font-size: 25px;
    color: #333;
    font-weight: bold;
    text-align: center;
}
table {
    border-collapse: separate;
    border-spacing: 50px 10px;
}
tr{
    float:left;
}
.pais:hover {
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
}

td {
    text-align: center;
}

.caption-top {
    font-weight: bold;
}

.caption-bottom {
    margin-top: 10px;
}

p {
    font-size: 20px;
}

.subti{
    font-size: 25px;
    color: #333;
    font-weight: bold;
}
.abajo{
    text-align: center;
}
.estas:hover{
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
}
#estadios{
    padding-top: 120px;
}