
body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fijar el encabezado en la parte superior */
    width: 98%; /* Ancho completo */
    top: 0; /* Fijar en la parte superior */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

.logo{
    order: -1;
}

.logo img{
    width: 180px;
    height: auto;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

 
li a:hover {
    background-color: #111;
    border-radius: 10px;
  }

#carrusel1:hover{
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
}
#carrusel2:hover{
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subti{
    font-size: 25px;
    color: #333;
    font-weight: bold;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagen {
    margin-bottom: 20px;
}

.temporizador {
    font-size: 25px;
    color: #333;
    padding-left: 20px;
}

#seccionTexto {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

#carrusel1{
    width: 90%;
    height: 80%px;
    overflow: hidden;
    display: inline-block;
}
#carrusel1 #imagen1 {
    width: 80%;
    height: auto;
}
#carrusel2{
    width: 90%;
    height: 80%px;
    overflow: hidden;
    display: inline-block;
}
#carrusel2 #imagen2 {
    width: 80%;
    height: auto;
}
#noticias{
    text-align: center;
}
.referencia{
    text-align: center;
}
.video1{
    display: inline-block;
    text-align: center;
}
.video2{
    display: inline-block;
    text-align: center;
}
.video3{
    display: inline-block;
}
.temporizador {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: inline-block;
}

#contador {
    font-size: 24px;
    color: #333333;
}
.entrada{
    padding-top: 120px;
}